AWS_PROFILE=afsd1_dev
TABLE_NAME=ApplicantFilterSystemDev
CHECK_EMAIL_DELIVERABILITY=false
JWT_SECRET=LOCAL_JWT_SECRET_KEY

# Deployment
DEV_JWT_SECRET=DEV_JWT_TOKEN_SHOULD_BE_MIGRATED_TO_AWS_SECRET_MANAGER
PROD_JWT_SECRET=PROD_JWT_TOKEN_SHOULD_BE_MIGRATED_TO_AWS_SECRET_MANAGER
